// include ttf
//
@mixin font-face-ttf($font-family, $font-path) {
  @font-face {
    font-family: $font-family;
    src: url($font-path + '.ttf') format('truetype');
  }
}

// include otf
//
@mixin font-face-otf($font-family, $font-path) {
  @font-face {
    font-family: $font-family;
    src: url($font-path + '.otf') format('opentype');
  }
}

// include woff
// 
@mixin font-face-woff($font-family, $font-source) {
  @font-face {
    font-family: $font-family;
    src: url('data:application/font-woff;charset=utf-8;base64,' + $font-source) format('woff');
  }
}
