// vertical alignment with 'table' method
//
@include class('center') {
  @include class('v') {
    @include class('table') {
      @include size(100%, 100%);

      display: table;

      @include class('cell') {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
