// '24 columns' grid inspired by [http://getbootstrap.com/css/#grid]
//
@include class('row') {
  &::after,
  &::before {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

@include class('col') {
  float: left;

  @for $i from 0 through 24 {
    @include state('xs-#{$i}') {
      width: percentage($i / 24);
    }

    @include state('xs-offset-#{$i}') {
      margin-left: percentage($i / 24);
    }
  }
}

@media screen and (min-width: $sm) {
  @include class('col') {
    @for $i from 0 through 24 {
      @include state('sm-#{$i}') {
        width: percentage($i / 24);
      }

      @include state('sm-offset-#{$i}') {
        margin-left: percentage($i / 24);
      }
    }
  }
}

@media screen and (min-width: $md) {
  @include class('col') {
    @for $i from 0 through 24 {
      @include state('md-#{$i}') {
        width: percentage($i / 24);
      }

      @include state('md-offset-#{$i}') {
        margin-left: percentage($i / 24);
      }
    }
  }
}

@media screen and (min-width: $lg) {
  @include class('col') {
    @for $i from 0 through 24 {
      @include state('lg-#{$i}') {
        width: percentage($i / 24);
      }

      @include state('lg-offset-#{$i}') {
        margin-left: percentage($i / 24);
      }
    }
  }
}
