// 1. create responsive square
// 2. create content container
// 3. create responsive rectangles
// 4. add media queries
//
$heights: (0, 5, 10, 15, 20, 25, 30, 33, 35, 40, 45, 50, 55, 60, 65, 66, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 133, 135, 140, 145, 150, 155, 160, 165, 166, 170, 175, 180, 185, 190, 195, 200);

@include class('rectangle') {
  display: block; // 1
  padding-bottom: 100%; // 1
  position: relative; // 1
  width: 100%; // 1

  @include content {
    @include position((a: 0), absolute); // 2

    display: block;
  }

  @each $height in $heights {
    @include state('xs-#{$height}') {
      padding-bottom: percentage($height / 100); // 3
    }
  }
}

@media screen and (min-width: $sm) {
  @include class('rectangle') {
    @each $height in $heights {
      @include state('sm-#{$height}') {
        padding-bottom: percentage($height / 100); // 4
      }
    }
  }
}

@media screen and (min-width: $md) {
  @include class('rectangle') {
    @each $height in $heights {
      @include state('md#{$height}') {
        padding-bottom: percentage($height / 100); // 4
      }
    }
  }
}

@media screen and (min-width: $lg) {
  @include class('rectangle') {
    @each $height in $heights {
      @include state('lg-#{$height}') {
        padding-bottom: percentage($height / 100); // 4
      }
    }
  }
}
